.sub_visual {
  background-image: url(../../assets/images/business_visual.png);
}

.business_page .business_main {
  position: relative;
  width: 100%;
}

.business_page .business_video {
  width: 100%;
  border-radius: 30px;
}

.business_page .business_main .main_txt_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.business_page .business_main .main_txt_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.business_page .business_main .main_text .sub_title {
  margin-bottom: 20px;
}

.business_page .business_main .main_text .sub_title+p {
  font-size: 20px;
  font-weight: 400;
}

.business_page .business_cont {
  text-align: center;
}

.business_page .business_cont .title_position {
  margin-bottom: 100px;
}

.business_page .business_cont .business_desc {
  margin-bottom: 80px;
}

.business_page .business_cont .business_desc .desc_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.business_page .business_cont .business_desc figure {
  margin-bottom: 28px;
}

.business_page .business_cont .business_desc div {
  display: flex;
}

.business_page .business_cont .business_desc img {
  border-radius: 30px;
}

.business_page .business_cont .business_desc .desc {
  text-align: center;
  line-height: 1.4;
  padding: 0 24px;
}

.business_page .business_cont .business_img_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}

.business_page .business_cont .business_img_flex .box_wrap {
  width: calc(50% - 20px);
}

.business_page .business_cont .business_img_flex .box_wrap img {
  width: 100%;
}

.business_page .business_cont .business_img_flex .box_wrap .txt_box .sub_title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  margin: 40px 0 20px;
  font-size: 40px;
}

.business_page .business_img_flex {
  margin-bottom: 100px;
}

.business_page .business_img_flex .box_wrap .txt_box .more_btn {
  padding-right: 24px;
  line-height: 35px;
  color: #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  position: relative;
}

.business_page .business_img_flex .box_wrap .txt_box .more_btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-2px);
  right: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: url("../../assets/images/arrow.png") no-repeat;
  width: 12px;
  height: 12px;
}

.business_page .business_img_flex .box_wrap .txt_box .more_btn:hover i {
  right: 0px;
}

@media screen and (max-width: 1024px) {
  .business_page .business_main .main_text .sub_title {
    margin-bottom: 16px;
  }

  .business_page .business_main .main_text .sub_title+p {
    font-size: 18px;
  }

  .business_page .business_cont .business_desc {
    margin-bottom: 80px;
  }

  .business_page .business_cont .business_desc .desc_title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .business_page .business_cont .business_desc figure {
    margin-bottom: 20px;
  }

  .business_page .business_cont .business_desc .desc {
    padding: 0 16px;
    text-align: left;
  }

  .business_page .business_cont .business_img_flex {
    row-gap: 60px;
  }

  .business_page .business_cont .business_img_flex .box_wrap {
    width: calc(50% - 10px);
  }

  .business_page .business_cont .business_img_flex .box_wrap .txt_box .sub_title {
    font-size: 28px;
    margin: 24px 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .business_page .business_main .main_text .sub_title {
    margin-bottom: 10px;
  }

  .business_page .business_main .main_text .sub_title+p {
    font-size: 16px;
  }

  .business_page .business_cont .business_desc {
    margin-bottom: 60px;
  }

  .business_page .business_cont .business_desc .desc_title {
    font-size: 18px;
    margin-bottom: 16px;
    padding: 0 16px;
  }

  .business_page .business_cont .business_desc .desc br {
    display: none;
  }

  .business_page .business_cont .business_desc figure {
    margin-bottom: 16px;
  }

  .business_page .business_cont .business_img_flex {
    row-gap: 50px;
  }

  .business_page .business_cont .business_img_flex .box_wrap {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  .business_page .business_cont .business_img_flex .box_wrap .txt_box .sub_title {
    font-size: 28px;
    margin: 10px 0;
  }
}