/* materials */
.sub_visual {
  background: url(../../assets/images/business_visual.png);
}

.sub_visual {
  background: url(../../assets/images/business_visual.png);
}

.business {
  word-break: keep-all;
}

.business_img {
  border-radius: 30px;
  overflow: hidden;
}

.business_img img {
  width: 100%;
}

.inner_title .desc {
  margin-top: 10px;
}

.section_subtitle {
  font-size: 36px;
  font-weight: 700;
}

.section_desc_title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.desc_box {
  width: 100%;
  max-width: 1395px;
  padding: 60px;
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/images/business_materials2.png");
  background-size: cover;
}

.materials_text {
  padding: 70px;
  color: #fff;
  text-align: center;
}

.materials_text:nth-child(1) {
  padding-left: 0;
}

.materials_text:nth-child(3) {
  padding-right: 0;
}

.materials_text:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.materials_text .desc_title {
  font-size: 30px;
  font-weight: 700;
}

.materials_text .desc_title span {
  font-size: 20px;
  margin: 40px 0 20px;
}

.materials_text .desc {
  font-weight: 400;
  font-size: 20px;
}

.business_materials {
  background-color: #f7f7f7;
  width: 100%;
  padding-bottom: 100px;
  margin-top: 69px;
}
.materials_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1395px;
  margin: 0 auto;
}

.business_materials .section_title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.materials_list .business_cont {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 35px;
}
.materials_list .materials_title {
  font-size: 30px;
  font-weight: 700;
}

.text_box .desc {
  font-size: 18px;
}

.materials_text .desc_title span {
  display: block;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .desc_box {
    padding: 20px;
  }
  .materials_text {
    padding: 20px;
  }
  .materials_text .desc_title {
    font-size: 20px;
  }

  .materials_text .desc_title span {
    font-size: 18px;
  }

  .materials_list {
    gap: 50px;
  }

  .materials_list .business_cont {
    width: 320px;
    height: 320px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .materials_list .business_cont {
    width: 300px;
    height: 300px;
  }

  .materials_list {
    gap: 50px;
  }

  .desc_box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .materials_text {
    width: 100%;
  }

  .materials_text:nth-child(2) {
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 25px 0;
  }
  .materials_text:nth-child(1) {
    padding: 0;
    padding-bottom: 20px;
  }

  .materials_text:nth-child(3) {
    padding: 0;
    padding-top: 20px;
  }

  .desc_box {
    padding: 30px;
  }

  .materials_text .desc_title span {
    margin: 25px 0 20px;
  }
}
