/* main */


.project_wrap .sub_visual {
  background-image: url(../../assets/images/pro_main-1.png);
}

.pro_under {
  padding-bottom: 100px;
}

.pro_list {
  display: flex;
  justify-content: space-between;
  /*   gap: 30px; */
  margin-bottom: 80px;
}

.pro_list li {
  width: 32%;
  margin-right: 2%;
}

.pro_list figure {
  transition: opacity 0.2s;
  position: relative;
}

.pro_list figure img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 30px;
}

.pro_list figure figcaption {
  color: #fff;
  bottom: 60px;
  left: 30px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease;
}

.pro_list figure .gallery-img {
  opacity: 1;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  border-radius: 30px;
}

@media (min-width: 1024px) {
  .pro_list figure:hover .gallery-img {
    background: rgba(0, 0, 0, 1);
  }

  .pro_list figure:hover img {
    transition: all .3s ease;
    opacity: 0.3;
  }

  .pro_list figure:hover figcaption {
    opacity: 1;
    transition: all .3s ease;
  }

  .more_pro_btn:hover i {
    right: 0px;
  }
}

.one {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.one::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  background-image: url(../../assets/images/house.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}

.more {
  cursor: pointer;
}

.more::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 120px;
  background-image: url(../../assets/images/more_Arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.line {
  width: 140px;
  border-bottom: 1px solid #fff;
  margin-top: 4px;
}

.two {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.two::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  background-image: url(../../assets/images/sculpture.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}

.three {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.three::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  background-image: url(../../assets/images/precast.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}

.bg_tit,
.Precast_tit {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.more_pro_btn {
  padding-right: 24px;
  line-height: 35px;
  color: #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  position: relative;
  font-size: 16px
}

.more_pro_btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-5px);
  right: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: url("../../assets/images/more_Arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}



@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .pro_list figure figcaption {
    bottom: 40px;
  }

  .one,
  .two,
  .three {
    width: 60px;
    height: 60px;
  }

  .one::after {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }

  .two::after {
    top: 11px;
    left: 9px;
    width: 40px;
    height: 40px;
  }

  .three::after {
    top: 11px;
    left: 11px;
    width: 40px;
    height: 40px;
  }

  .bg_tit,
  .Precast_tit {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .pro_under {
    padding-bottom: 80px;
  }

  .inner_title img {
    max-width: 70px;
    width: 100%;
  }

  .pro_list li {
    position: relative;
  }

  .pro_list li a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
  }

  .pro_list figure .gallery-img {
    background: rgba(0, 0, 0, 1);
  }


  .pro_list figure .gallery-img {
    background: rgba(0, 0, 0, 0.1);
  }

  .pro_list figure img {
    opacity: 0.9;
  }

  .pro_list figure figcaption {
    opacity: 1;
    position: absolute;
    z-index: 1;
  }

  .pro_list figure figcaption {
    bottom: 30px;
    left: 25px;
  }

  .pro_intro {
    padding: 80px 0 60px;
  }

  .pro_list {
    gap: 20px;
    margin-bottom: 60px;
  }

  .one,
  .two,
  .three {
    width: 60px;
    height: 60px;
  }

  .one::after {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }

  .two::after {
    top: 11px;
    left: 9px;
    width: 40px;
    height: 40px;
  }

  .three::after {
    top: 11px;
    left: 11px;
    width: 40px;
    height: 40px;
  }

  .bg_tit,
  .Precast_tit {
    font-size: 28px;
    margin-bottom: 0px;
  }

  .more_pro_btn {
    font-size: 14px;
  }
}


@media screen and (min-width: 768px) and (max-width: 950px) {
  .bg_tit {
    font-size: 24px;
  }

  .Precast_tit {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .pro_under {
    padding-bottom: 60px;
  }

  .inner_title img {
    max-width: 40px;
    width: 100%;
  }

  .pro_intro {
    padding: 60px 0 40px;
  }

  .pro_list {
    display: block;
  }

  .pro_list li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3%;
  }

  .pro_list figure {
    margin-top: 15px;
  }

  .pro_list li:first-child figure {
    margin-top: 0;
  }

  .more_pro_btn {
    font-size: 14px;
  }

  .pro_list figure .gallery-img {
    max-height: 330px;
    background: rgba(0, 0, 0, 0.1);
  }

  .pro_list figure img {
    opacity: 0.9;
  }

  .pro_list figure figcaption {
    opacity: 1;
  }
}

/* house */

.pro_house {
  position: relative;
}

.house_text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.pro_txt {
  margin-top: 20px;
}

.pro_intro_title {
  font-weight: normal;
  font-size: 35px;
}

.btn_top {
  padding-bottom: 100px;
}

.project_subtitle {
  margin-top: 50px;
}

.project_subtitle img {
  width: 60px;
}

.project_wrap .cont {
  margin: 50px auto;
}

.sub_tit {
  font-size: 20px;
  font-weight: 700;
}

.house_img_wrap img {
  width: 100%;
  border-radius: 30px;
}

.img_list_second {
  display: flex;
  justify-content: space-between;
  /*   gap: 30px; */
}

.img_list_second li {
  width: calc(50% - 15px);
}

.img_list_second img {
  width: 100%;
  border-radius: 30px;
}

.img_txt {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}


@media screen and (max-width: 1024px) {
  .pro_intro_title {
    font-size: 42px;
  }

  .btn_top {
    padding-bottom: 80px;
  }

  .sub_tit {
    margin-top: 14px;
    margin-bottom: 60px;
    font-size: 30px;
  }

  .img_txt {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .img_list_second {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .pro_intro_title {
    font-size: 28px;
  }

  .btn_top {
    padding-bottom: 60px;
  }

  .sub_tit {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .img_list_second {
    display: block;
  }

  .img_txt {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .img_list_second li:nth-child(2) img {
    margin-top: 15px;
  }
}

@media screen and (max-width: 540px) {
  .img_txt {
    margin-bottom: 25px;
    margin-top: 10px;
  }

}

/* sculpture */

.sculpture_img_wrap img {
  width: 100%;
  border-radius: 30px;
}

/* precast */

.precast_img_wrap img {
  width: 100%;
  border-radius: 30px;
}

.precast_img_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*   gap: 30px; */
}

.precast_img_list li {
  width: calc(50% - 15px);
  margin-bottom: 30px;
}

.precast_img_list img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.precast_img_list_second {
  display: flex;
  gap: 30px;
}

.precast_img_list_fore {
  margin-top: 80px;
}

.precast_img_list_fore img {
  border-radius: 30px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /*   .precast_img_list li {
    gap: 20px;
  } */

  /*   .precast_img_list figure {
    width: calc(50% - 10px);
  } */

  .precast_img_list_fore {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .img_list_second li {
    width: 100%;
  }

  .precast_img_list li {
    width: 100%;
    margin-right: 0;
  }

  .precast_img_list li {
    display: block;
  }

  .precast_img_wrap:nth-child(2) img {
    margin-top: 15px;
  }

  .precast_img_list_fore {
    margin-top: 0px;
  }

  .house_img_wrap picture img {
    /*     min-height: 240px; */
    border-radius: 10px;
  }

  .sculpture_img_wrap img {
    min-height: 240px;
    border-radius: 10px;
  }

  .precast_img_list_fore img {
    min-height: 240px;
    border-radius: 10px;
  }
}

@media (max-width: 540px) {

  .one,
  .two,
  .three {
    width: 32px;
    height: 32px;
  }

  .one:after,
  .two:after,
  .three:after {
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
  }

  .bg_tit,
  .Precast_tit {
    font-size: 20px;
    line-height: 20px;
  }

  .more_pro_btn {
    font-size: 14px;
  }

  .pro_list figure figcaption {
    bottom: 15px;
  }
}