/* main */

.wrapper{
  width: 100%;
  overflow: hidden;
}

.sub_visual{
  background-image: url(/assets/images/pro_main.png);
}


.pro_intro{
  padding: 100px 0 80px;
  text-align: center;
}

.pro_list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 80px;
}

.pro_list figure {
  transition: opacity 0.2s; 
  position: relative; 
}

.pro_list figure img {
  width: 100%;
}

.pro_list figure figcaption {
  color: #fff;
  bottom: 60px; 
  left: 30px;
  opacity: 0;
  position: absolute; 
  width: 100%;
  transition: all .3s ease;
}

.pro_list figure .gallery-img {
  opacity: 1;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  border-radius: 30px;
}

.pro_list figure:hover .gallery-img {
  background: rgba(0, 0, 0, 0.5);
}

.pro_list figure:hover img {
  transition: all .3s ease;
  opacity: 0.15;
}

.pro_list figure:hover figcaption {
  opacity: 1;
  transition: all .3s ease; 
}

.one{
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.one::after{
  content: "";     
  position: absolute;
  top: 10px;
  left: 13px;
  background-image: url(/assets/images/house.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}

.more{
  cursor: pointer;
}

.more::before{
  content: "";     
  position: absolute;
  bottom: 2px;
  left: 120px;
  background-image: url(/assets/images/more_Arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.line{
  width: 140px;
  border-bottom: 1px solid #fff;
  margin-top: 4px;
}

.two{
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.two::after{
  content: "";     
  position: absolute;
  top: 10px;
  left: 11px;
  background-image: url(/assets/images/sculpture.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}

.three{
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
}

.three::after{
  content: "";     
  position: absolute;
  top: 11px;
  left: 13px;
  background-image: url(/assets/images/precast.png);
  background-size: cover;
  width: 56px;
  height: 56px;
}

.bg_tit{
  font-size: 42px;
}

.Precast_tit{
  margin-bottom: 30px;
  font-size: 42px;
}

@media screen and (min-width: 1025px) and (max-width: 1100px){
  .bg_tit{
    font-size: 28px;
  }

  .Precast_tit{
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px){
  .pro_intro{
    padding: 80px 0 60px;
  }

  .pro_list{
    gap: 20px;
    margin-bottom: 60px;
  }

  .bg_tit{
    font-size: 28px;
  }

  .Precast_tit{
    font-size: 28px;
  }
}

@media screen and (max-width: 767px){
  .pro_intro{
    padding: 60px 0 40px;
  }

  .pro_list{
    display: block;
  }

  .pro_list figure{
    margin-top: 15px;
  }
}

/* house */

.pro_house{
  position: relative;
}

.house_text_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.pro_txt{
  margin-top: 20px;
}

.house_intro{
  padding: 100px 0 80px;
  text-align: center;
}

.pro_intro_title{
  font-weight: normal;
  font-size: 55px;
}

.btn_top{
  padding-bottom: 120px;
}

.sub_tit{
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
}

.house_img_wrap img{
  width: 100%;
}

.img_list_second{
  display: flex;
  gap: 30px;
}

.img_list_second img{
  width: 100%;

}

.img_txt{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}


@media screen and (max-width: 1024px){
  .pro_intro_title{
    font-size: 42px;
  }

  .house_intro {
    padding: 80px 0 60px;
  }

  .btn_top{
    padding-bottom: 80px;
  }

  .sub_tit {
    margin-top: 14px;
    font-size: 30px;
  }

  .img_txt {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .img_list_second {
    gap: 20px;
  }
}

@media screen and (max-width: 767px){
  .house_intro {
    padding: 60px 0 40px;
  }

  .pro_intro_title{
    font-size: 36px;
  }

  .btn_top{
    padding-bottom: 60px;
  }

  .sub_tit {
    font-size: 24px;
  }

  .img_list_second {
    display: block; 
  }

  .img_txt {
    font-size: 16px;
    margin-bottom: 40px;
  }  

  .house4{
    margin-top: 15px;
  }
}

/* sculpture */

.sculpture_img_wrap img{
  width: 100%;
}

@media screen and (max-width: 767px){
  .sculpture3{
    margin-top: 15px;
  }
}

/* precast */

.precast_img_wrap img{
  border-radius: 30px;
  width: 100%;
}

.precast_img_list li{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.precast_img_list figure{
  width: calc(50% - 15px);
}

.precast_img_list img {
  width: 100%;
  height: 100%;
}

.precast_img_list_second{
  display: flex;
  gap: 30px;
}

.Military{
  margin-top: 80px;
}

@media screen and (max-width: 1024px){
  .precast_img_list li{
  gap: 20px;
  }

.precast_img_list figure{
  width: calc(50% - 10px);
  }

.Military{
  margin-top: 60px;
  }
}

@media screen and (max-width: 767px){
  .precast_img_list figure{
    width: 100%;
  }
  
  .precast_img_list li{
    display: block;
  }

  .precast_img_wrap:nth-child(2) img{
    margin-top: 15px;
  }

  .Military{
    margin-top: 0px;
  }
}