.img_wrap img {
  width: 100%;
  border-radius: 30px;
}

.img_list_one img {
  border-radius: 30px;
}

.img_list_second {
  display: flex;
  justify-content: space-between;
}

.img_list_second li {
  width: calc(50% - 15px);
}

.img_list_second img {
  width: 100%;
  border-radius: 30px;
}

.img_txt {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.img_list_four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img_list_four li {
  width: calc(50% - 15px);
}

.img_list_four li:nth-child(3),
.img_list_four li:last-child {
  margin-top: 30px;
}

.img_list_four img {
  border-radius: 30px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .img_list_one img {
    min-height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .img_list_one.height-auto img {
    min-height: inherit;
  }

  .img_wrap img {
    border-radius: 10px;
  }

  .img_list_second {
    display: block;
  }

  .img_list_second li {
    width: 100%;
  }

  .img_list_second img {
    border-radius: 10px;
  }

  .img_list_second li:last-child {
    margin-top: 15px;
  }

  .img_txt {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .img_list_four li {
    width: 100%;
  }

  .img_list_four {
    display: block;
  }

  .img_list_four li {
    margin-top: 15px;
  }

  .img_list_four li:nth-child(3),
  .img_list_four li:last-child {
    margin-top: 15px;
  }

  .img_list_four img {
    border-radius: 10px;
  }
}