@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner_container {
  max-width: 1680px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}



.main_title {
  font-size: 55px;
}

.section_title {
  font-size: 55px;
  font-weight: 600;
  line-height: 75px;
}

.section_title span {
  font-weight: 300;
}

.title_under {
  font-size: 20px;
  font-weight: 400;
 }

.sub_title {
  font-size: 42px;
}
.desc {
  font-size: 20px;
  font-weight: 400;
}

/* read more 버튼 */

.more_btn {
  padding-right: 24px;
  line-height: 35px;
  color: #000;
  border-bottom: 2px solid #000;
  display: inline-block;
  position: relative;
}

.more_btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-5px);
  right: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: url("../images/arrow.png") no-repeat center;
  width: 12px;
  height: 12px;
}

.more_btn:hover i {
  right: 0px;
}

/* grid */

.grid_container {
  display: flex;
  gap: 20px;
  min-width: 100%;
  flex-wrap: wrap;
  
}

.grid_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid_title {
  font-size: 20px;
  font-weight: 700;
}

.grid_desc {
  font-size: 20px;
  font-weight: 400;
  
}
/* pc */
@media screen and (max-width: 1680px) {
  .inner_container {
    padding: 0 32px;
  }

  
}

/* tablet */
@media screen and (max-width: 767px) {
  .inner_container {
    padding: 0 32px;
  }

  .section_title {
    font-size: 42px;
  }
}

/* mobile */
@media screen and (max-width: 412px) {
  .inner_container {
    padding: 0 20px;
  }

  .main_visual {
    height: 250px;
  }

  .section_title {
    font-size: 36px;
  }

  .title {
    font-size: 36px;
    font-weight: 600;
  }

  .title_desc {
    font-size: 16px;
  }

  .skill th {
    font-size: 36px;
  }

}
