@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.pc_only {
  display: block;
}
.ta_only,
.mo_only {
  display: none;
}

.inner_container {
  max-width: 1680px;
  margin: 0 auto;
}

@media screen and (max-width: 1680px) {
  .inner_container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .inner_container {
    padding: 0 20px;
  }
}

.main_title {
  font-size: 55px;
  /* 폰트사이즈 변경 가능성 있음 */
}
.sub_title {
  font-size: 55px;
  /* 폰트사이즈 변경 가능성 있음 */
}

.section_title {
  font-size: 55px;
  line-height: 75px;
}

.section_title span {
  font-weight: 300;
}

.title_under {
  font-size: 20px;
  font-weight: 400;
}
.desc {
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .pc_only,
  .mo_only {
    display: none;
  }
  .ta_only {
    display: block;
  }
  .main_title {
    font-size: 42px;
    /* 폰트사이즈 변경 가능성 있음 */
  }

  .sub_title {
    font-size: 42px;
    /* 폰트사이즈 변경 가능성 있음 */
  }

  .section_title {
    font-size: 42px;
    line-height: 58px;
  }

  .title_under {
    font-size: 18px;
    font-weight: 400;
  }

  .sub_title {
    font-size: 30px;
  }

  .desc {
    font-size: 18px;
  }

  .sub_visual {
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .pc_only,
  .ta_only {
    display: none;
  }
  .mo_only {
    display: block;
  }
  .main_title {
    font-size: 30px;
    /* 폰트사이즈 변경 가능성 있음 */
  }
  .sub_title {
    font-size: 30px;
    /* 폰트사이즈 변경 가능성 있음 */
  }

  .section_title {
    font-size: 30px;
    line-height: 58px;
  }

  .title_under {
    font-size: 16px;
    font-weight: 400;
  }

  .desc {
    font-size: 16px;
  }

  .sub_visual {
    height: 250px;
  }
}

/* 서브페이지 메인비주얼 */
.sub_visual {
  width: 100%;
  height: 550px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_visual .main_text {
  align-items: center;
  text-align: center;
  color: #fff;
}
.inner_title {
  margin-top: 100px;
  text-align: center;
}
.section_title .t_light {
  font-weight: 300;
}
.inner_title {
  margin-top: 100px;
}
.inner_container .cont {
  margin: 100px auto;
}

@media screen and (max-width: 1024px) {
  .inner_title {
    margin-top: 80px;
  }
  .inner_container .cont {
    margin: 80px auto;
  }
}
@media screen and (max-width: 767px) {
  .inner_title {
    margin-top: 60px;
  }
  .inner_container .cont {
    margin: 60px auto;
  }
}
/* read more 버튼 */

.more_btn {
  padding-right: 24px;
  line-height: 35px;
  color: #000;
  border-bottom: 2px solid #000;
  display: inline-block;
  position: relative;
}

.more_btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-5px);
  right: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: url("../../assets/images/arrow.png") no-repeat center;
  width: 12px;
  height: 12px;
}

.more_btn:hover i {
  right: 0px;
}

@media screen and (max-width: 1024px) {
  .more_btn {
    font-size: 18px;
  }

  .sub_visual {
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  .more_btn {
    font-size: 16px;
  }

  .sub_visual {
    height: 250px;
  }
}
