@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner_container {
  max-width: 1680px;
  margin: 0 auto;
}

@media screen and (max-width: 1680px) {
  .inner_container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .inner_container {
    padding: 0 20px;
  }
}

.title {
  font-size: 55px;
}

.section_title {
  font-size: 55px;
  line-height: 75px;
}

.sub_title {
  font-size: 42px;
}
.desc {
  font-size: 20px;
  font-weight: 400;
}

/* read more 버튼 */

.more_btn {
  padding-right: 24px;
  line-height: 35px;
  color: #000;
  border-bottom: 2px solid #000;
  display: inline-block;
  position: relative;
}

.more_btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-5px);
  right: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: url("../images/arrow.png") no-repeat center;
  width: 12px;
  height: 12px;
}

.more_btn:hover i {
  right: 0px;
}
