.introduction .main_visual {
  width: 100%;
  height: 550px;
  background: url(../images/introduction_main.png) no-repeat center;
  background-size: cover;
}
.introduction .main_visual .main_text {
  padding: 210px 0;
  text-align: center;
  color: #fff;
}
.introduction .inner_title {
  margin-top: 100px;
  text-align: center;
}
.introduction .section_title .t_light {
  font-weight: 300;
}
.introduction .inner_container .intro_cont {
  margin-top: 100px;
}
.introduction .intro_cont .list_img img {
  width: 100%;
}
.introduction .intro_table {
  width: 100%;
  margin-top: 75px;
  border-collapse: collapse;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.introduction .intro_table tr {
  letter-spacing: -1px;
  border-bottom: 1px solid #000;
}
.introduction .intro_table tr td {
  padding: 30px 0 30px 30px;
}
.introduction .intro_table .table_title {
  background: #f7f7f7;
}

.introduction .intro_btn_cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 20px;
}
.introduction .intro_btn_cont .intro_btn {
  max-width: calc(50% - 20px);
  width: 100%;
  padding: 90px 50px 30px 50px;
  background: #f7f7f7;
}
.introduction .intro_btn_cont .intro_btn button {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
}
.introduction .intro_btn_cont .btn_text {
  font-family: "Noto Sans KR", sans-serif;
}
.introduction .intro_btn .btn_title {
  font-size: 36px;
  font-weight: 700;
}
.introduction .intro_btn .btn_desc {
  margin-top: 10px;
  font-size: 20px;
}
.introduction .intro_btn .more_box {
  text-align: right;
}
.introduction .intro_btn .more_btn {
  margin-top: 55px;
  border-bottom: none;
}
