/* main_section */
.main_section {
  position: relative;
}

.main_section .main_visual_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main_section .main_text_box {
  position: absolute;
  top: 6.0417vw;
  left: 9.8958vw;
  max-width: 610px;
}

.main_section .main_text_box .main_title {
  margin-bottom: 26px;
}

.main_section .main_text_box .main_title span {
  font-weight: 300;
}

/* business section */
.business_section {
  padding: 120px 0 160px;
  text-align: center;
}

.business_section .title_position {
  margin-bottom: 90px;
}

.business_section .business_img_flex {
  display: flex;
  gap: 20px;
}

.business_section .business_img_flex .box_wrap .img_box {
  margin-bottom: 30px;
}

.business_section .business_img_flex .box_wrap .img_box img {
  width: 100%;
}

.business_section .business_img_flex .box_wrap .txt_box .sub_title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.business_section .business_img_flex .box_wrap .txt_box .more_btn {
  padding-right: 24px;
  line-height: 35px;
  color: #000;
  border-bottom: 1px solid #000;
  display: inline-block;
  position: relative;
}

.business_section .business_img_flex .box_wrap .txt_box .more_btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-2px);
  right: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: url("../images/arrow.png") no-repeat;
  width: 12px;
  height: 12px;
}

.business_section .business_img_flex .box_wrap .txt_box .more_btn:hover i {
  right: 0px;
}

/* project section */
.project_section {
  background: #f5f5f5;
  padding: 50px 0;
}

.project_section .title_position {
  width: fit-content;
  text-align: center;
  margin-bottom: 38px;
}

.project_section .project_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_section .project_flex .project_left {
  width: 100%;
  padding-right: 120px;
}

.project_section .project_flex .project_right {
  width: 100%;
}

.project_section .project_flex .project_right .project_img_box img {
  width: 100%;
  height: 100%;
  display: block;
}

.project_section .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 50px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: unset;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next img,
.swiper-button-prev img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project_section .project_flex .project_left .pro_title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.project_section .project_flex .project_left .pro_title + P {
  line-height: 30px;
}

.project_section .project_flex .project_left .round_btn {
  display: inline-block;
  margin-top: 30px;
  padding: 6px 20px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 100px;
}

.project_section .swiper-pagination {
  display: none;
}

/* benefit section */
.benefit_section {
  padding: 120px 0 160px;
}

.benefit_section .benefit_txt {
  text-align: center;
  margin-bottom: 90px;
}

.benefit_section .benefit_flex {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}

.benefit_section .benefit_flex a {
  display: block;
  width: calc(20% - 10px);
}

.benefit_section .benefit_flex .benefit_box {
  padding: 80px 30px 40px 30px;
  border: 1px solid #cccccc;
  /* width: 263px; */
  width: 100%;
  transition: all 0.3s;
}

.benefit_section .benefit_flex .benefit_box:hover {
  border: 1px solid #000;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.benefit_section .benefit_flex .benefit_box p {
  font-size: 1.6667vw;
  font-weight: 500;
  line-height: 2.2396vw;
}

/* news section */
.news_section {
  padding: 120px 0 160px;
  background-color: #f5f5f5;
}

.news_section .news_txt {
  width: fit-content;
  text-align: center;
  margin-bottom: 50px;
}

.news_section .news_list {
  display: flex;
  justify-content: space-between;
}

.news_section .news_list a {
  display: block;
  width: calc(25% - 10px);
}

.news_section .news_list figure {
  margin-bottom: 22px;
}

.news_section .news_list img {
  width: 100%;
}

.news_section .news_list .list_txt {
  margin-left: 14px;
  font-size: 18px;
}

@media screen and (max-width: 1600px) and (min-width: 1025px) {
  .project_section .project_flex {
    align-items: flex-start;
  }

  .project_section .project_flex .project_left {
    padding-right: 3%;
  }

  .project_section .project_flex .project_left .pro_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .project_section .project_flex .project_left .pro_title + p {
    font-size: 18px;
  }

  .project_section .project_flex .project_left .round_btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  /* main_section */
  .main_section .main_text_box {
    top: 80px;
    left: 32px;
    max-width: 590px;
  }

  .main_section .main_text_box .main_title {
    margin-bottom: 26px;
  }

  .main_section .main_text_box .main_title + p {
    font-size: 18px;
  }

  /* business section */
  .business_section {
    padding: 100px 0 70px;
  }

  .business_section .title_position {
    margin-bottom: 70px;
    max-width: unset;
  }

  .business_section .business_img_flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .business_section .business_img_flex .box_wrap {
    width: calc(50% - 15px);
  }

  .business_section .business_img_flex .box_wrap .img_box {
    margin-bottom: 25px;
  }

  .business_section .business_img_flex .box_wrap .txt_box .sub_title {
    margin-bottom: 10px;
  }

  .business_section .business_img_flex .box_wrap .txt_box .more_btn {
    margin-bottom: 50px;
  }

  /* project section */
  .project_section {
    padding: 100px 0 80px;
  }

  .project_section .title_position {
    margin: 0 auto 40px auto;
  }

  .project_section .project_flex {
    flex-direction: column-reverse;
    gap: 60px;
  }

  .project_section .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .project_section .project_flex .project_left .pro_title {
    margin-bottom: 30px;
    font-weight: 700;
  }

  .project_section .project_flex .project_left .pro_title + P {
    line-height: 30px;
  }

  .project_section .project_flex .project_left .round_btn {
    display: inline-block;
    margin-top: 30px;
    padding: 6px 20px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 100px;
  }

  .project_section .swiper-pagination {
    display: block;
    position: unset;
    margin-top: 30px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin-right: 10px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet:last-child {
    margin-right: 0;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #000;
  }

  /* benefit section */
  .benefit_section {
    padding: 100px 0 120px;
  }

  .benefit_section .benefit_txt {
    margin-bottom: 70px;
  }

  .benefit_section .benefit_flex {
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
    justify-content: flex-start;
  }

  .benefit_section .benefit_flex a {
    width: calc(33.33% - 14px);
  }

  .benefit_section .benefit_flex .benefit_box {
    width: 100%;
  }

  .benefit_section .benefit_flex .benefit_box p {
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
  }

  /* news section */
  .news_section {
    padding: 100px 0 120px;
  }

  .news_section .news_txt {
    margin: 0 auto 40px auto;
  }

  .news_section .news_list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news_section .news_list a {
    width: calc(50% - 12.5px);
    margin-bottom: 40px;
  }

  .news_section .news_list figure {
    margin-bottom: 25px;
  }

  .news_section .news_list img {
    width: 100%;
  }

  .news_section .news_list .list_txt {
    margin-left: 14px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  /* main_section */
  .main_section .main_text_box {
    top: 20px;
    left: 20px;
    width: 90%;
  }

  .main_section .main_text_box .main_title {
    margin-bottom: 26px;
    font-size: 6vw;
  }

  .main_section .main_text_box .main_title + p {
    font-size: 3vw;
  }

  /* business section */
  .business_section {
    padding: 100px 0 70px;
  }

  .business_section .title_position {
    margin-bottom: 70px;
  }

  .business_section .business_img_flex {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }

  .business_section .business_img_flex .box_wrap {
    width: calc(50% - 10px);
  }

  .business_section .business_img_flex .box_wrap .img_box {
    margin-bottom: 25px;
  }

  .business_section .business_img_flex .box_wrap .txt_box .sub_title {
    margin-bottom: 10px;
  }

  .business_section .business_img_flex .box_wrap .txt_box .more_btn {
    margin-bottom: 50px;
  }

  /* project section */
  .project_section {
    padding: 100px 0 80px;
  }

  .project_section .title_position {
    margin: 0 auto 40px auto;
  }

  .project_section .project_flex {
    flex-direction: column-reverse;
    gap: 60px;
  }

  .project_section .project_flex .project_left {
    padding-right: 0;
  }

  .project_section .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .project_section .project_flex .project_left .pro_title {
    margin-bottom: 30px;
    font-weight: 700;
  }

  .project_section .project_flex .project_left .pro_title + P {
    line-height: 30px;
  }

  .project_section .project_flex .project_left .round_btn {
    display: inline-block;
    margin-top: 30px;
    padding: 6px 20px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 100px;
  }

  .project_section .swiper-pagination {
    display: block;
    position: unset;
    margin-top: 30px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin-right: 10px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet:last-child {
    margin-right: 0;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #000;
  }

  /* benefit section */
  .benefit_section {
    padding: 100px 0 120px;
  }

  .benefit_section .benefit_txt {
    margin-bottom: 70px;
  }

  .benefit_section .benefit_flex {
    flex-wrap: wrap;
    padding: 0;
  }

  .benefit_section .benefit_flex a {
    width: 100%;
  }

  .benefit_section .benefit_flex .benefit_box p {
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
  }

  /* news section */
  .news_section {
    padding: 100px 0 120px;
  }

  .news_section .news_txt {
    margin: 0 auto 40px auto;
  }

  .news_section .news_list {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }

  .news_section .news_list a {
    width: calc(50% - 10px);
    margin-bottom: 40px;
  }

  .news_section .news_list figure {
    margin-bottom: 10px;
  }

  .news_section .news_list img {
    width: 100%;
  }

  .news_section .news_list .list_txt {
    margin-left: 14px;
    font-size: 18px;
  }
}
