img{border: 0; vertical-align: top;}

.wrapper{
  width: 100%;
  overflow: hidden;
}

.sub_visual{
  background-image: url(/assets/images/contact_main.png);
}

.contact_list_wrap{
  border-radius: 30px;
}

.cot_under{
  padding-bottom: 100px;
}

.contact_list li{
  width: 100%;
}

.gray_box {
  display: flex;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.gray_box .more_btn {
  color: #fff;
  border-bottom: none;
}

.gray_box .more_btn i{
  background: url(../../assets/images/more_Arrow.png) no-repeat center;
}

.con_text_box{
  width: 40%;
  color: #fff;
  padding: 120px 100px;
  background-color: #878787;
}

.gray_under{
  margin-top: 20px;
}

.btn_box {
  line-height: 35px;
  color: #fff;
  border: 2px solid #fff;
  padding-right: 45px;
  width: fit-content;
  padding: 14px 30px;
}

.con_banner {
  background-image: url(../../assets/images/contact1.png);
  background-size: cover;
  width: 60%;
} 

.line{
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #d9d9d9;
}

.con_banner_right {
  background-image: url(../../assets/images/contact2.png);
  background-size: cover;
  width: 60%;
} 

@media screen and (min-width: 1025px) and (max-width: 1500px){
  .con_text_box {
    padding: 100px 80px;
  }

  .con_tit{
    font-size: 48px;
  }

  .btn_box {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px){
  .cot_under{
  padding-bottom: 80px;
}

  .contact_text_box{
    padding-bottom: 80px;
  }

  .con_text_box {
    padding: 80px 60px;
  }

  .line{
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .btn_box {
  margin-top: 40px;
  padding: 8px 20px;
  padding-right: 40px;
  font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 940px){
  .con_text_box {
    padding: 80px 40px;
  }

  .con_tit{
    font-size: 38px;
  }

  .btn_box {
    margin-top: 40px;
  }
}


@media screen and (max-width: 767px){
  .cot_under{
  padding-bottom: 60px;
}

  .contact_text_box{
    padding-bottom: 60px;
  }

  .gray_box {
    display: block;
  }

  .contact_list li:nth-child(1) .con_text_box{
    position: relative;
    width: 100%;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(255, 255,255, 0)), url(../../assets/images/contact1.png);
    z-index: 10;

  }

  .contact_list li:nth-child(2) .con_text_box{
    position: relative;
    width: 100%;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(255, 255,255, 0)), url(../../assets/images/contact2.png);
    z-index: 10;

  }

  .contact_list li:nth-child(3) .con_text_box{
    position: relative;
    width: 100%;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(255, 255,255, 0)), url(../../assets/images/contact3.png);
    z-index: 10;

  }

  .con_banner{
    width: 100%;
  }

  .con_text_box {
    padding: 80px 60px;
  }

  .btn_box {
    margin-top: 40px;
  }

  .line{
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .btn_box {
  padding: 6px 15px;
  padding-right: 40px;
  font-size: 16px;
  }

}