.main_visual {
  width: 100%;
  height: 550px;
  background: url(../../assets/images/introduction_main.png) no-repeat center;
  background-size: cover;
}
.main_visual .main_text {
  padding: 210px 0;
  text-align: center;
  color: #fff;
}
.inner_title {
  margin-top: 100px;
  text-align: center;
}
.section_title .t_light {
  font-weight: 300;
}
.inner_container .cont {
  margin: 100px auto;
}
.main_visual {
  width: 100%;
  height: 550px;
  background: url(../images/introduction_main.png) no-repeat center;
  background-size: cover;
}
.main_visual .main_text {
  padding: 210px 0;
  text-align: center;
  color: #fff;
}
.inner_title {
  margin-top: 100px;
  text-align: center;
}
.section_title .t_light {
  font-weight: 300;
}

.manage_cont {
  margin: 80px 0 100px;
}
.manage_list {
  display: flex;
  gap: 90px;
  justify-content: center;
}
.manage_list li {
  max-width: 405px;
}
.manage_list li img {
  width: 100%;
}
.manage_list .desc {
  width: 95%;
  margin-top: 50px;
  text-align: center;
  word-break: keep-all;
}
